@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0px auto;
  padding: 0px;
  line-height: 1.6em;
  font-size: 1em;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav-container {
  margin: 0 auto;
  background: #003a52;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: 0 auto;
  height: 85px;
}

.list {
  display: flex;
  justify-self: center;
  list-style: none;
  justify-content: flex-end;
  width: 80%;
  color: white;
  margin: auto;
  font-size: 1em;
}


.logobar {
  display: flexbox;
  margin: -39px auto;
  margin-bottom: 15px;
  height: 169px;
  width: 169px;
}

li {
  padding-left: 40px;
}

a {
  text-decoration: none;
  color: unset;
}

.banner {
  font-family: 'Allerta Stencil', sans-serif;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 7.5em;
  color: white;
  background: linear-gradient(0deg, #fff, transparent 80%),
    linear-gradient(to bottom, #003a52, transparent 80%),
    url('../image/house.jpg') center no-repeat;
  height: 26.8vw;
  background-size: contain;
}

.banner h1 {
  font-size: 4.1em;
  margin-bottom: -1em;
  margin: auto;
  text-shadow: 0.2px 2px 1px #222;
}

.process {
  margin: 0 auto;
  padding: 25px;
}




.banner a {
  color: whitesmoke;
}

.banner-btn {
  background-color: #000000a6;
  font-size: 1.5em;
  margin: auto;
  margin-top: 3em;
  width: auto;
  border-radius: 30px;
  padding: 1em;
}

.content {
  padding: 25px 0;
  width: 85%;
  margin: 0 auto;
  border-top: 2px solid rgba(119, 136, 153, 0.493);
  border-bottom: 2px solid rgba(119, 136, 153, 0.493);
  margin-top: 55px;
}

.icon {
  align-self: center;
  padding-right: 10px;
  float: left;
}

.col {
  padding: 10px;
}

.content,
.icon,
.banner {
  display: flex;
}

.primary,
.secondary,
.tertiary {
  display: flex;
  width: 100%;
}

.primary p,
.secondary p,
.tertiary p {
  align-self: center;
  padding-left: 15px;
}

.main-footer {
  margin-top: auto;
  background: rgba(160, 170, 164, 0.23);
  text-align: center;
  padding: 20px;
  font-size: 12px;
}

.form {
  width: 100%;
  display: block;

  padding: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  background: #eaeceb;
  border-color: transparent;
  font-size: 0.95em;
  outline: 0;
  padding: 10px;
  color: #6e6b6be5;
}

.name-container,
.email-container {
  width: 50%;
}

.name-container {
  float: left;
  padding-right: 10px;
}

.email-container {
  float: right;
}

label {
  padding: 20px 0;
}

.cleanfix {
  width: 700px;
  margin: 0 auto;
  display: block;
}

legend {
  font-size: 1.2em;
  padding: 10px 0;
}

.form-container {
  background: #f4f4f4a2;
  width: 100%;
  margin-top: 50px;
  border: none;
}

article {
  width: 60%;
  margin: auto;
}

.content-intro {
  text-align: center;
  width: 70%;
  margin: auto;
}